<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
Most Popular
</h3>
</div>
<div class="panel-body">
{{#each sidebar.popular}}
<div class="col-md-4 text-center" style="paddingbottom:
.5em;"><a href="/images/{{uniqueId}}"><img src="/public/
upload/{{filename}}" style="width: 75px; height: 75px;" class="imgthumbnail"></
a></div>
{{/each}}
</div>
</div>