<div class="panel panel-primary">
<div class="panel-heading">
<h2 class="panel-title">{{ image.title }}</h2>
</div>
<div class="panel-body">
<p>{{ image.description }}</p>
<div class="col-md-12 text-center">
<img src="/public/upload/{{image.filename}}" class="imgthumbnail">
</div>
</div>
<div class="panel-footer">
<div class="row">
<div class="col-md-8">
<button class="btn btn-success" id="btn-like" dataid="{{
image.uniqueId }}"><i class="fa fa-heart"> Like</i></button>
<strong class="likes-count">{{ image.likes }}</strong>
&nbsp; - &nbsp; <i class="fa fa-eye"></i> <strong>{{ image.views }}</
strong>
&nbsp; - &nbsp; Posted: <em class="text-muted">{{
timeago image.timestamp }}</em>
</div>
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<div class="row">
<div class="col-md-8">
<strong class="panel-title">Comments</strong>
</div>
<div class="col-md-4 text-right">
<button class="btn btn-default btn-sm" id="btncomment"
data-id="{{ image.uniqueId }}"><i class="fa fa-comments-o">
Post Comment...</i></button>
</div>
</div>
</div>
<div class="panel-body">
<blockquote id="post-comment">
<div class="row">

<form method="post" action="/images/{{ image.uniqueId
}}/comment">
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label"
for="name">Name:</label>
<div class="col-sm-10">
<input class="form-control" type="text"
name="name">
</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label"
for="email">Email:</label>
<div class="col-sm-10">
<input class="form-control" type="text"
name="email">
</div>
</div>
<div class="form-group col-sm-12">

<label class="col-sm-2 control-label"
for="comment">Comment:</label>
<div class="col-sm-10">
<textarea class="form-control"
name="comment" rows="2"></textarea>
</div>
</div>
<div class="form-group col-sm-12">
<div class="col-sm-12 text-right">
<button type="submit" id="comment-btn"
class="btn btn-success" type="button"><i class="fa fa-comment"></i>
Post</button>
</div>
</div>
</form>
</div>
</blockquote>